footer.production-footer.container-fluid
    .row
        .offset-lg-3.offset-sm-0.col-lg-3.col-sm-6.footer-text-block
            .address
                p.footer-title Адрес:
                p.footer-text 141074 Московская область, г. Королев ул. Пионерская, д.1Б
            .phone
                p.footer-text +7 (495) 513-42-9 <br>+7 (495) 513-56-42 <br>+7 (495) 513-47-90
            .email
                p <span>e-mail:</span> <a class="email-link" href="mailto:mail@zaoconstanta.ru">mail@zaoconstanta.ru</a>
            .time
                p.footer-title Время работы офиса:
                p.footer-text пн—пт: с 9:00 до 18:00 <br>сб—вс: выходные
            .social
                a(href="vk") <i class="fab fa-vk px-2"></i>
                a(href="fb") <i class="fab fa-facebook-f px-2"></i>
                a(href="ig") <i class="fab fa-instagram px-2"></i>
            .copyright
                p Copyright © 2018

        .col-6.map
   







