header.production-header
    .container-fluid
        .container
            .top-line-info
                .top-line-info_address.pr-5 МО, г. Королев, ул. Пионерская, 1Б
                .top-line-info_phone +7 (495) 513-42-96,   +7 (495) 513-47-90
            nav.top-menu.navbar.navbar-expand-lg.navbar-light
                a(href="index.html").navbar-brand
                    img(src="img/production/logo.png" alt="logo")
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation") <i class="fas fa-bars"></i>

                .collapse.navbar-collapse#navbarSupportedContent
                    ul.top-menu_navigation.navbar-nav
                        li.nav-item
                            a(href="index.html") Главная
                            .desh
                        li.nav-item
                            a(href="about.html") О нас
                            .desh
                        li.nav-item
                            a(href="production.html") Продукция
                            .desh.active
                        li.nav-item
                            a(href="index.html") Документация
                            .desh
                        li.nav-item
                            a(href="catalog.html") Заказы
                            .desh
                        li.nav-item
                            a(href="сontact.html") Контакты
                            .desh
            