header.index-header
    .container-fluid
        .container
            .top-line-info
                .top-line-info_address <i class="fas fa-map-marker-alt px-2"></i>МО, г. Королев, ул. Пионерская, 1Б
                .top-line-info_phone <i class="fas fa-phone-square px-2"></i>+7 (495) 513-42-96,   +7 (495) 513-47-90
            nav.top-menu.navbar.navbar-expand-lg.navbar-light
                a(href="#").navbar-brand
                    img(src="img/index/logo.png" alt="logo")
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation") <i class="fas fa-bars"></i>

                .collapse.navbar-collapse#navbarSupportedContent
                    ul.top-menu_navigation.navbar-nav
                        li.nav-item.active
                            a(href="index.html") Главная
                        li.nav-item
                            a(href="about.html") О нас
                        li.nav-item
                            a(href="production.html") Продукция
                        li.nav-item
                            a(href="index.html") Документация
                        li.nav-item
                            a(href="catalog.html") Заказы
                        li.nav-item
                            a(href="contacts.html") Контакты
            .page-title
                h1 <span class="upp">Компания <span class="accent">«Константа»</span> —</span> <br>одно из ведущих предприятий России
                p.page-title_introtext Мы производим расходные материалы, режущий инструмент и запасные части для мясоперерабатывающего оборудования.
            .bottom-icon
                img(src="img/index/banner-bottom-icon.png")