main.production-main
    .container
        .breadcrumb
            ul.breadcrumb-items
                li.breadcrumb-item Главная
                li.breadcrumb-item Продукция
                li.breadcrumb-item Куттерные ножи
        .row
            .left-saitbar.col-lg-4.col-sm-12
                ul.list-items
                    li.list-item
                        a.saitbar-link(data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1") Расходные материалы
                        .collapse#collapseExample1
                            ul.list-items_wrapp
                                li.list-item_wrapp
                                    a(href="#") item-1
                                li.list-item_wrapp
                                    a(href="#") item-1
                                li.list-item_wrapp
                                    a(href="#") item-1
                    li.list-item
                        a.saitbar-link(data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2") Куттерные ножи
                        .collapse#collapseExample2
                            ul.list-items_wrapp
                                li.list-item_wrapp
                                    a(href="сatalog.html") Альпина
                                li.list-item_wrapp
                                    a(href="#") Воронеж
                                li.list-item_wrapp
                                    a(href="#") Зейдельман
                                li.list-item_wrapp
                                    a(href="#") Килия
                                li.list-item_wrapp
                                    a(href="#") Кремер Гребе
                                li.list-item_wrapp
                                    a(href="#") Ласка
                    li.list-item
                        a.saitbar-link(data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3") Запасные части
                        .collapse#collapseExample3
                            ul.list-items_wrapp
                                li.list-item_wrapp
                                    a(href="#") item-1
                                li.list-item_wrapp
                                    a(href="#") item-1
                                li.list-item_wrapp
                                    a(href="#") item-1

            .right-content.col-lg-8.col-sm-12
                h1.title-page Куттерные ножи
                .right-content_items
                    .right-content_item
                        img(src="img/production/pr-1.jpg")
                    .right-content_item
                        img(src="img/production/pr-2.jpg")
                    .right-content_item
                        img(src="img/production/pr-3.jpg")
                    .right-content_item
                        img(src="img/production/pr-4.jpg")
                    .right-content_item
                        img(src="img/production/pr-5.jpg")
                    .right-content_item
                        img(src="img/production/pr-6.jpg")

            .text-block.col-lg-8.col-sm-12.offset-lg-4.offset-sm-0.my-5
                p.text Ножи для куттеров импортного и отечественного производства используются при изготовлении колбасных фаршей.
                p.text При изготовлении ножей используется хромомолибденованадиевая сталь импортного производства. Ножи могут иметь различную геометрию кромки, что важно для производства определенного вида колбасы: вареной, копченой, сырокопченой и т.д.
                p.text При производстве ножей применяется специальная термическая обработка, обеспечивающая повышенную твердость на кромке ножа и пониженную в зоне крепления ножа к планшайбе. При этом проводится 100% контроль твердости. Последующие операции шлифования и полирования поверхностей ножей повышает коррозионную стойкость.
                p.text При составлении комплекта ножей 6 или 8 штук обеспечивается разновес 3 грамма.
                p.text В настоящее время компания производит около 90 наименований куттерных ножей.
                p.text Технология производства и контроль качества продукции обеспечивает высокую стойкость и надежность ножей при эксплуатации, что соответствует ТУ 5132-002053987182-2009.
                p.text На ножи оформлены санитарно-эпидемиологическое заключение и сертификат соответствия.
                p.text Нашими постоянными клиентами являются:
                p.text ООО «Дымовское колбасное производство»<br>ООО «Колбасный комбинат «Богатырь»<br>ОАО «Мясопром-Коровино»<br>ОАО «Великолукский мясокомбинат»<br>ЗАО «Мясоперерабатывающий завод «Ступино-Останкино»<br>ОАО «Сочинский мясокомбинат»<br>ОАО «Царицыно»<br>ОАО «Омский бекон»<br>ООО «МПЗ «Рублевский»<br>и многие другие.






